

<div class="container">
    <biller-search (search)="onSearch($event)"></biller-search>
    <table class="table table-bordered table-striped">
        <thead class="thead-light">
            <tr>
                <th>Nombre</th>
                <th>Identificacion</th>
                <th>Direccion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let biller of billerList">
                <td>{{biller.name}}</td>
                <td>{{biller.dni}}</td>
                <td>{{biller.addres}}</td>
                <td>
                    <button class="btn btn-primary" (click)="onEdit(biller.id)">Editar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="billerList.length === 0">
    <div class="d-flex justify-content-center">
        <h1>No hay Registros</h1>
    </div>
</div>